@media (max-width:449px){

    .search-bar-icon,.tool-bar-icon{
        display: none !important;
    }
    .nav-bar-tool .search-bar-icon--minw{
        display: block !important;
    }
}
@media (max-width:450px){
    .nav-icon-yt{
    
        font-size: 18px;
    }
    .nav-bar-search{
        display: none;
    }
    .nav-bar-tool .search-bar-icon--minw{
        display: block ;
    }
    .search-bar-icon,.tool-bar-icon{
        font-size: 16px;
    }
}
@media (min-width:451px) and (max-width: 765px){
    .nav-bar-search{
        width: 30%  ;
    }
    .nav-bar-search{
        display: none;
    }
    .nav-bar-tool .search-bar-icon--minw{
        display: block ;
    }
}